* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html {
    ul, ol {
        list-style: none;
    }
    img {
        vertical-align: top;
    }
    body {
        font-family: 'Open Sans', sans-serif;
        font-size: 100%;
        color: #070707;
        text-align: center;
        .container {
            width: min(90%, 970px);
            margin-inline: auto;
        }
        h2 {
            font-size: 2.125rem;
        }
        p {
            font-size: 1.125rem;
        }
        header {
            margin-bottom: 12px;
            height: 80px;
            .container {
                padding: 28px 0;
                border-bottom: black solid 1px;
            }
            .main-nav {
                ul {
                    display: flex;
                    justify-content: center;
                    gap: 40px;
                    align-items: center;

                    li {
                        display: inline-block;
                        a {
                            color: #828282;
                            font-size: 1.125rem;
                            text-decoration: none;
                            &:hover,
                            &.active {
                                color: #070707;
                                text-shadow: 1px 0 0 0 black, 0 1px 0 0 black, 0 0 1px 0 black, 0 0 0 1px black;
                            }
                        }
                    }
                }
            }
        }
        main {
            margin-bottom: 100px;
            .bg-grey {
                background-color: #F6F6F6;
            }
            section {
                padding: 100px 0;
            }

            .first-section {
                padding: 0;
                h1 {
                    font-size: 3rem;
                    margin-bottom: 50px;
                    text-align: left;
                }
            }
            .second-section {
                height: 500px;
                h2 {
                    margin-bottom: 50px;
                }
                div {
                    max-width: 480px;
                    min-height: 210px;
                    text-align: center;
                    font-size: 1.125rem;
                    p:not(:last-child) {
                        margin-bottom: 30px;
                    }
                }
            }
            .third-section {
                hgroup {
                    margin-bottom: 50px;
                    h2 {
                        margin-bottom: 20px;
                    }

                }
                .skills-ul {
                    font-size: 0;
                    display: flex;
                    justify-content: space-between;
                    li {
                        min-width: 170px;
                        .skill-title {
                            color: #828282;
                            font-size: 0.875rem;
                            font-weight: 700;
                            margin-bottom: 60px;
                            min-height: 38px;
                            max-width: 90px;
                            margin-inline: auto;

                        }
                        & > img {
                            margin-bottom: 25px;
                        }
                        .rating {
                            display: flex;
                            justify-content: space-between;
                            img.gray {
                                opacity: 20%;
                            }
                        }
                    }
                }
            }
            .portfolio {
                h2 {
                    margin-bottom: 50px;
                }
                .item {
                    img {
                        margin-bottom: 40px;
                    }
                    div {
                        max-width: 260px;
                        margin: 0 auto;

                        a {
                            color: #070707;
                            &:hover {
                                text-decoration: none;
                            }
                        }
                    }
                }
                .item:not(:last-child) {
                    margin-bottom: 70px;
                }
            }

        }
        footer {
            margin-bottom: 100px;

            hgroup {
                margin-bottom: 60px;
                display: grid;
                justify-items: center;
                h2 {
                    margin-bottom: 20px;
                }
                p {
                    max-width: 280px;
                }
            }
            .btn-container {
                margin-bottom: 30px;
                a {
                    display: inline-block;
                    color: #fff;
                    background-color: #070707;
                    line-height: 30px;
                    font-family: Arial, Helvetica, sans-serif;
                    font-size: 1.2rem;
                    text-decoration: none;
                    cursor: pointer;
                    border-radius: 22px;
                    padding: 5px 16px;
                    min-width: 80px;
                    border: 2px solid #070707;
                    &:hover, &:active {
                        color: #070707;
                        background-color: #fff;
                    }
                }
            }
            ul {
                margin-bottom: 60px;
                li {
                    display: inline-block;
                    a {
                        opacity: 50%;
                        &:hover {
                            opacity: 100%;

                        }
                    }
                    &:not(:last-child) {
                        margin-right: 50px;
                    }
                }
            }
            span {
                display: block;
                color: #828282;
                font-size: 0.875rem;
                font-weight: 400;
                line-height: normal;
                padding: 0 385px;
            }
        }
    }
}
