*, *::before, *::after {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

ul, ol {
  list-style: none;
}

a, button, ::after {
  transition: all 0.1s ease;
}

button {
  cursor: pointer;
}

img {
  vertical-align: top;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.container {
  width: min(90%, 1170px);
  margin: 0 auto;
}

body {
  font-size: 1rem;
  color: #232323;
  font-family: Roboto, sans-serif;
}

.page-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.page-wrapper main {
  flex-grow: 1;
}

.mb {
  margin-bottom: 100px;
}

.logo {
  width: 200px;
  height: 36px;
}

header {
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);
  padding: 22px 0;
}

main hgroup {
  margin-bottom: 40px;
}
main hgroup h2 {
  color: var(--7, #7690A8);
  font-size: 1rem;
  font-style: normal;
  font-weight: 400;
  line-height: 1.3125rem; /* 131.25% */
  margin-bottom: 15px;
}
main hgroup h1 {
  color: #16133D;
  font-family: "Nunito Sans", sans-serif;
  font-size: 2.5rem;
  font-style: normal;
  font-weight: 600;
  line-height: 3.25rem; /* 130% */
  letter-spacing: 0.0125rem;
}
main ul {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(290px, 1fr));
  grid-gap: 30px;
}
main ul li {
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 10px;
  padding: 40px;
}
main ul li .link ::after {
  content: "";
  width: 0;
  height: 2px;
  background-color: #3DB370;
  position: absolute;
  left: 0;
  top: 20px;
}
main ul li:hover {
  border-color: #3DB370;
}
main ul li:hover .link ::after {
  width: 100%;
}
main ul li:hover .icon-div svg:first-of-type {
  opacity: 0;
}
main ul li:hover .icon-div svg:last-of-type {
  opacity: 1;
}
main ul li div .icon-div {
  width: 64px;
  height: 64px;
  padding: 12px;
  border-radius: 10px;
  margin-bottom: 30px;
  border: 1px solid rgba(0, 0, 0, 0.1);
}
main ul li div .icon-div svg {
  position: relative;
  transition: opacity 0.2s ease;
}
main ul li div .icon-div svg:first-of-type {
  opacity: 1;
}
main ul li div .icon-div svg:last-of-type {
  opacity: 0;
  top: -42px;
}
main ul li div section {
  margin-bottom: 30px;
  display: flex;
  gap: 15px;
  flex-flow: column;
}
main ul li div section h3 {
  color: #16133D;
  font-size: 1.5rem;
  font-style: normal;
  font-weight: 400;
  line-height: 1.33rem; /* 88.667% */
  letter-spacing: 0.0125rem;
}
main ul li div section p {
  color: #16133D;
  font-size: 1rem;
  font-style: normal;
  font-weight: 400;
  line-height: 1.75rem; /* 175% */
}
main ul li div a {
  position: relative;
  text-decoration: none;
  color: #3DB370;
  font-size: 1rem;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  transition: color 0.2s ease;
}
main ul li div svg {
  width: 100%;
  height: 100%;
}

footer {
  background: #16133D;
  padding: 40px 0;
}
footer .logo {
  margin-bottom: 40px;
}
footer ul {
  display: flex;
  flex-direction: row;
  gap: 10px;
}
footer ul a {
  display: block;
  width: 38px;
  height: 38px;
  border-radius: 5px;
  background: #EFEEF3;
}
footer ul a:hover * {
  fill: #3DB370;
  transition: all 0.2s ease;
}
footer ul a svg {
  width: 100%;
  height: 100%;
  scale: 0.6;
}

/*# sourceMappingURL=style.css.map */
