/* lato-regular - latin */
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: "Lato";
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/lato-v24-latin-regular.woff2") format("woff2"); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}
/* lato-700 - latin */
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: "Lato";
  font-style: normal;
  font-weight: 700;
  src: url("../fonts/lato-v24-latin-700.woff2") format("woff2"); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}
/* red-hat-display-regular - latin */
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: "Red Hat Display";
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/red-hat-display-v20-latin-regular.woff2") format("woff2"); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}
/* red-hat-display-500 - latin */
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: "Red Hat Display";
  font-style: normal;
  font-weight: 500;
  src: url("../fonts/red-hat-display-v20-latin-500.woff2") format("woff2"); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}
/* red-hat-display-600 - latin */
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: "Red Hat Display";
  font-style: normal;
  font-weight: 600;
  src: url("../fonts/red-hat-display-v20-latin-600.woff2") format("woff2"); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}
*, *::before, *::after {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

ul, ol {
  list-style: none;
}

a, button {
  transition: all 0.2s ease;
}

button {
  cursor: pointer;
}

img {
  vertical-align: top;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.container {
  width: min(90%, 1170px);
  margin: 0 auto;
}

body {
  font-size: 18px;
  color: #232323;
  font-family: Lato, sans-serif;
}

.page-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.page-wrapper main {
  flex-grow: 1;
}

.logo {
  height: 12px;
  width: auto;
}

header {
  position: fixed;
  max-height: 100px;
  padding: 40px 0;
  width: 100%;
  z-index: 100;
  background-color: #fff;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}
@media screen and (max-width: 768px) {
  header {
    padding: 20px 0;
    max-height: 60px;
  }
}
header .container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
header .container div nav {
  display: inline-flex;
  margin-right: 84px;
}
@media screen and (max-width: 1024px) {
  header .container div nav {
    margin-right: 40px;
  }
}
@media screen and (max-width: 768px) {
  header .container div nav {
    margin-right: 0;
    display: none;
  }
}
header .container div ul {
  display: inline-flex;
  gap: 42px;
}
@media screen and (max-width: 1024px) {
  header .container div ul {
    gap: 20px;
  }
}
header .container div a {
  text-decoration: none;
  color: var(--Base-Black, #000);
  font-size: 0.875rem;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  letter-spacing: 4.2px;
  text-transform: uppercase;
}
header .container div .search {
  height: 17px;
  width: 18px;
}
@media screen and (max-width: 768px) {
  header .container div .search {
    margin-right: 40px;
  }
}
@media screen and (max-width: 425px) {
  header .container div .search {
    margin-right: 20px;
  }
}
header .container div .hamburger {
  height: 24px;
  width: 34px;
  display: none;
}
@media screen and (max-width: 768px) {
  header .container div .hamburger {
    display: inline;
  }
}

.hero {
  padding-top: 100px;
  margin-top: 60px;
  background: url(../images/bg-image.jpg) center/cover no-repeat;
  filter: brightness(1.5) grayscale(30%) contrast(0.8);
  min-height: 600px;
  background-size: cover;
  margin-bottom: 90px;
}
@media screen and (max-width: 768px) {
  .hero {
    padding-top: 30px;
    min-height: 320px;
  }
}
@media screen and (max-width: 425px) {
  .hero {
    padding-top: 70px;
    min-height: 500px;
  }
}
.hero h1 {
  width: 80%;
  color: var(--Base-Black, #000);
  font-family: "Red Hat Display", sans-serif;
  font-size: 3rem;
  font-style: normal;
  font-weight: 600;
  line-height: 4rem; /* 133.333% */
  letter-spacing: 0.15rem;
}
@media screen and (max-width: 768px) {
  .hero h1 {
    width: 80%;
    font-size: 2.25rem;
    line-height: 3.125rem;
    letter-spacing: 0.1125rem;
  }
}
@media screen and (max-width: 425px) {
  .hero h1 {
    width: 100%;
    font-size: 1.875rem;
    line-height: 3.125rem;
    letter-spacing: 0.09375rem;
  }
}

.date {
  display: inline-block;
  color: var(--Grey-500, #7B7B7B);
  font-size: 1rem;
  font-style: normal;
  font-weight: 400;
  line-height: 166%; /* 26.56px */
  letter-spacing: 1.6px;
}

p {
  color: var(--Grey-700, #565656);
  font-size: 1rem;
  font-style: normal;
  font-weight: 400;
  line-height: 166%; /* 1.66rem */
  letter-spacing: 0.05rem;
}

h3 {
  color: var(--Base-Black, #000);
  font-family: "Red Hat Display", sans-serif;
  font-size: 1.4375rem;
  font-style: normal;
  font-weight: 500;
  line-height: 166%; /* 2.38625rem */
  letter-spacing: 0.14375rem;
}

.blog .container {
  margin-bottom: 90px;
  display: grid;
  gap: 50px;
}
@media screen and (max-width: 768px) {
  .blog .container {
    margin-bottom: 70px;
  }
}
.blog .container .img-wrap {
  height: 470px;
}
@media screen and (max-width: 1024px) {
  .blog .container .img-wrap {
    height: 280px;
  }
}
@media screen and (max-width: 425px) {
  .blog .container .img-wrap {
    height: 250px;
  }
}
.blog h3 {
  margin-bottom: 15px;
}
.blog .date {
  margin-bottom: 50px;
}
.blog article {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 30px;
}
.blog article:nth-child(odd) .img-wrap {
  order: 1;
}
@media screen and (max-width: 580px) {
  .blog article {
    grid-template-columns: auto;
  }
  .blog article .img-wrap {
    order: 1;
  }
}
.blog .content {
  margin: auto 0;
  max-width: 450px;
  width: 100%;
}
@media screen and (max-width: 580px) {
  .blog .content {
    width: 100%;
  }
}
.blog .content svg {
  position: relative;
  left: 15px;
  top: 1px;
}
.blog .content hgroup p {
  margin-bottom: 30px;
  color: var(--Grey-500, #7B7B7B);
  font-size: 1rem;
  font-style: normal;
  font-weight: 400;
  line-height: 166%; /* 1.66rem */
  letter-spacing: 0.1rem;
}
.blog h2 {
  color: var(--Base-Black, #000);
  font-family: "Red Hat Display", sans-serif;
  font-size: 3rem;
  font-style: normal;
  font-weight: 400;
  line-height: 4rem; /* 133.333% */
  letter-spacing: 0.15rem;
}
@media screen and (max-width: 425px) {
  .blog h2 {
    text-align: center;
  }
}

.view-all {
  text-decoration: none;
  color: var(--Grey-500, #7B7B7B);
  font-size: 1rem;
  line-height: 166%; /* 1.66rem */
  letter-spacing: 0.1rem;
}

.heading {
  display: flex;
  justify-content: space-between;
  margin-bottom: 50px;
}
@media screen and (max-width: 425px) {
  .heading {
    flex-direction: column;
  }
}
.heading h2 {
  color: var(--Base-Black, #000);
  font-family: "Red Hat Display", sans-serif;
  font-size: 1.75rem;
  letter-spacing: 0.175rem;
}
.heading a svg {
  margin-left: 10px;
}

.img-wrap {
  height: 260px;
  margin-bottom: 20px;
  overflow: hidden;
}
.img-wrap img {
  object-fit: cover;
}

.content .text h3 {
  margin-bottom: 20px;
}
@media screen and (max-width: 600px) {
  .content .text h3 {
    color: var(--Base-Black, #000);
    font-family: "Red Hat Display";
    font-size: 1.375rem;
    font-style: normal;
    font-weight: 500;
    line-height: 166%; /* 2.2825rem */
    letter-spacing: 0.1375rem;
  }
}
.content .info {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-bottom: 25px;
}
.content .info p, .content .info span {
  color: var(--Grey-500, #7B7B7B);
  font-size: 0.75rem;
  letter-spacing: 0.075rem;
}
@media screen and (max-width: 600px) {
  .content .info p, .content .info span {
    color: var(--Grey-500, #7B7B7B);
    font-size: 1rem;
    font-style: normal;
    font-weight: 400;
    line-height: 166%; /* 1.66rem */
    letter-spacing: 0.1rem;
  }
}

.latest_posts {
  margin-bottom: 90px;
}
@media screen and (max-width: 768px) {
  .latest_posts {
    margin-bottom: 70px;
  }
}
.latest_posts ul {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 30px;
}
@media screen and (max-width: 1000px) {
  .latest_posts ul {
    grid-template-columns: auto;
  }
}
@media screen and (max-width: 600px) {
  .latest_posts ul {
    gap: 50px;
  }
}
@media screen and (max-width: 1000px) {
  .latest_posts ul li .img-wrap {
    height: 240px;
  }
  .latest_posts ul li:nth-child(even) .img-wrap {
    order: 1;
  }
}
@media screen and (max-width: 600px) {
  .latest_posts ul li .img-wrap {
    height: 210px;
  }
  .latest_posts ul li:nth-child(even) .img-wrap {
    order: 0;
  }
}
@media screen and (max-width: 1000px) {
  .latest_posts ul li article {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 20px;
  }
}
@media screen and (max-width: 600px) {
  .latest_posts ul li article {
    display: flex;
    flex-direction: column;
    gap: 25px;
  }
}
@media screen and (max-width: 1000px) {
  .latest_posts ul li article .img-wrap {
    margin: 0;
  }
}

.most_popular {
  margin-bottom: 90px;
}
@media screen and (max-width: 768px) {
  .most_popular {
    margin-bottom: 70px;
  }
}
.most_popular ul {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 30px;
}
@media screen and (max-width: 850px) {
  .most_popular ul {
    gap: 20px;
  }
  .most_popular ul .img-wrap {
    height: 160px;
  }
}
@media screen and (max-width: 600px) {
  .most_popular ul {
    grid-template-columns: auto;
    gap: 20px;
  }
  .most_popular ul .img-wrap {
    height: 150px;
  }
}

/*# sourceMappingURL=style.css.map */
