* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

ul, li{
  list-style: none;
}
img {
  vertical-align: top;

}
body {
  font-family: 'Roboto', sans-serif;
}
h2 {
  font-family: "Delius Unicase", Roboto, sans-serif;
}