$--blure: linear-gradient(0deg, #241F24 0%, rgba(91, 91, 91, 0.45) 34.11%, rgba(187, 186, 192, 0.26) 62.5%);

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  transition: all .3s ease-in-out;

}

ul, li {
  list-style: none;
}

img {
  vertical-align: top;
  width: 100%;
  object-fit: contain;
  object-position: bottom;
}

body {
  font-family: 'Roboto', sans-serif;
  padding-block: 120px;
}

.container {
  max-width: 1270px;
  margin: 0 auto;
  padding-inline: 50px;
}

h2 {
  font-family: "Delius Unicase", Roboto, sans-serif;
  margin-bottom: 80px;
  text-align: center;

  color: #000;

  /* Heading */
  font-size: 36px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  letter-spacing: 1.8px;
}

.grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(370px, 1fr));
  gap: 20px;
}

.wide {
  grid-column: span 2;
}

.tall {
  grid-row: span 2;
}

.item {
  min-height: 370px;
  border-radius: 10px;
  position: relative;
  color: white;
  overflow: clip;

  &:hover {
    scale: 110%;
  }

  .img-wrap {
    img {
      position: absolute;
      z-index: -1;


    }
  }

  .content {
    padding: 20px;
    height: 100%;
    justify-content: space-between;
    display: flex;
    flex-direction: column;
    &::before {
      transition: opacity .3s ease-in-out;
      content: "";
      background: $--blure;
      position: absolute;
      inset: 0;
    }

    box-shadow: inset 0 -50px 50px -10px rgba(0, 0, 0, 0.7);

    &:hover:before {
      opacity: 0;
    }

    &:hover {
      .buttons {
        button {
          opacity: 60%;
        }
      }
    }

    .buttons {
      display: flex;
      justify-content: space-between;

      button {
        &:hover {
          cursor: pointer;
          opacity: 100%;
        }

        border-radius: 10px;
        border: none;
        opacity: 0%;
        font-size: 1.2rem;
        display: flex;
        width: 40px;
        height: 40px;
        padding: 10px;
        justify-content: center;
        align-items: center;
        flex-shrink: 0;
      }
    }

    .text {
      display: flex;
      justify-content: space-between;
      top: 13px;
      position: relative;

      span {
        &:last-child {
          color: var(--Gray-5, #E0E0E0);
          font-family: Roboto, sans-serif;
          font-size: 20px;
          font-style: normal;
          font-weight: 400;
          line-height: normal;
        }

        color: #FFF;
        font-family: Roboto, sans-serif;
        font-size: 20px;
        font-style: normal;
        font-weight: 500;
        line-height: normal;
        display: block;
        height: 30px;
      }
    }
  }
}