@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
ul, ol {
    list-style: none;
}

body {
    font-family: Roboto, sans-serif;
    line-height: normal;
    font-style: normal;

    color: #FF8984;
    background: #3B3F45;
    text-align: center;

}
.container {
    max-width: 573px;
    margin: 0 auto;
}
header section h1 {
    line-height: normal;
    font-weight: 700;
    font-size: 1.5rem;
    margin-bottom: 4px;
}
header section p {
    font-size: 1rem;
}
header {
    padding: 19px 0 12px 0;
    flex-shrink: 0;
    background-color: #4A4F56;
    margin-bottom: 20px;
}
.list {
    text-align: left;
    color: #FFFFFF;
    font-size: 1.125rem;
}
.small {
    font-size: 0.6875rem;
}
.list-item {
    max-height: 45px;
    background: #88839E;
}
.list-item:nth-child(2n) {
    background: #7A7593;
}
.list-item label {
    padding: 10px 0 12px 12px;
    display: list-item;
    cursor: pointer;
}
.list-item:hover, .list-item:hover:after, .list-item:hover:before {
    border-bottom: white 3px solid;
    border-top: white 3px solid;
    background-color: #625E77;
}
.list-item label span {
    min-height: 21px;
    vertical-align: middle;
}

.list-item:has(input:checked) + .list-item {
    box-shadow: inset  0  10px 10px -10px black;

}
.list-item:has(input:checked) span {
    opacity: 50%;
    text-decoration: line-through;
}
