@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

:root {
    --pink: #FF8984;
    --dark-blue: #88839E;
    --background: #7A7593;
    --li-active: #625E77;
    --sidebar: #4A4F56;
    --bg-color: #3B3F45;
    --box-shadow: 0.125em 0.125em 0.625em 0.0625em black;
    --opacity: 50%;
    --margin-bottom: 2.2em;
}
.container {
    margin: 0 auto;
    max-width: 800px;
}
html {
    font-family: Roboto, sans-serif;
    font-size: 120%;
    font-style: normal;
    text-align: center;
    background: var(--bg-color);
    body {
        header {
            color: var(--pink);
            background-color: var(--sidebar);

            position: sticky;
            top: 0;
            z-index: 1000;

            padding: 1.2em 0 0.9em 0;
            margin-bottom: var(--margin-bottom);
            &:active {
                box-shadow: var(--box-shadow);
            }
            h1 {
                font-size: 1.5em;
                font-weight: 700;
                margin-bottom: 0.3em
            }
            p {
                font-size: 1em;
            }
        }
        main {
            color: white;
            ul {
                margin-bottom: var(--margin-bottom);
                list-style: none;
                text-align: left;
                li {
                    background: var(--dark-blue);
                    font-size: 1.12em;
                    &:nth-child(even) {
                        background: var(--background);
                    }
                    &:hover {
                        background-color: var(--dark-blue);
                        position: sticky;
                        &:before,
                        &:after {
                            content: '';
                            position: absolute;
                            height: 0.1875em;
                            width: 100%;
                            background-color: white;
                        }
                    }
                    &:active + &,
                    &:has(input:checked) + & {
                        box-shadow: inset 0 0.625em 0.625em -0.625em black;
                    }
                    label {
                        padding: 0.75em;
                        display: list-item;
                        cursor: pointer;
                        &:active {
                            background-color: var(--li-active);
                        }
                        &:has(input:checked) .text {
                            opacity: var(--opacity);
                            outline-color: white;
                            outline-width: thin;
                        }
                        &:has(input:checked) .text::before {
                            content: "";
                            position: absolute;
                            bottom: 0.45em;
                            height: 0.07em;
                            width: 100%;
                            background-color: white;
                        }
                        input {
                            margin-right: .7em;
                        }
                        .text {
                            position: relative;
                            .small {
                                vertical-align: 0.1em;
                                font-size: 0.6em;
                                &::before {
                                    content: ' ( ';
                                }
                                &::after {
                                    content: ' ) ';
                                }
                            }
                        }
                    }
                }
            }
            .btm-element {
                padding: 0.75em 0;
                background: var(--sidebar);
                color: var(--pink);
                &:active {
                    box-shadow: var(--box-shadow);
                }
            }
        }
    }
}
