
@font-face {
  font-family: 'icomoon';
  src:  url('../icons/icomoon.woff?lf8lv7') format('woff');
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: never;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  font-size: 1.5rem;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-bubble:before {
  content: "\e900";
}
.icon-calendar:before {
  content: "\e901";
}
.icon-change-theme:before {
  content: "\e902";
}
.icon-dashboard:before {
  content: "\e903";
}
.icon-eye:before {
  content: "\e904";
}
.icon-lab:before {
  content: "\e905";
}
.icon-location:before {
  content: "\e906";
}
.icon-lock:before {
  content: "\e907";
}
.icon-log-out:before {
  content: "\e908";
}
.icon-mail:before {
  content: "\e909";
}
.icon-news:before {
  content: "\e90a";
}
.icon-page:before {
  content: "\e90b";
}
.icon-pen:before {
  content: "\e90c";
}
.icon-profile:before {
  content: "\e90d";
}
.icon-search:before {
  content: "\e90e";
}
.icon-set:before {
  content: "\e90f";
}
.icon-stack:before {
  content: "\e910";
}
.icon-star:before {
  content: "\e911";
}
.icon-study-1:before {
  content: "\e912";
}
.icon-wallet:before {
  content: "\e913";
}
