/* montserrat-regular - latin */
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/montserrat-v30-latin-regular.woff2") format("woff2"); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}
/* montserrat-700 - latin */
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 700;
  src: url("../fonts/montserrat-v30-latin-700.woff2") format("woff2"); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}
@font-face {
  font-family: "icomoon";
  src: url("../icons/icomoon.woff?lf8lv7") format("woff");
  font-weight: normal;
  font-style: normal;
  font-display: block;
}
[class^=icon-], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: "icomoon" !important;
  speak: never;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  font-size: 1.5rem;
  line-height: 1;
  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-bubble:before {
  content: "\e900";
}

.icon-calendar:before {
  content: "\e901";
}

.icon-change-theme:before {
  content: "\e902";
}

.icon-dashboard:before {
  content: "\e903";
}

.icon-eye:before {
  content: "\e904";
}

.icon-lab:before {
  content: "\e905";
}

.icon-location:before {
  content: "\e906";
}

.icon-lock:before {
  content: "\e907";
}

.icon-log-out:before {
  content: "\e908";
}

.icon-mail:before {
  content: "\e909";
}

.icon-news:before {
  content: "\e90a";
}

.icon-page:before {
  content: "\e90b";
}

.icon-pen:before {
  content: "\e90c";
}

.icon-profile:before {
  content: "\e90d";
}

.icon-search:before {
  content: "\e90e";
}

.icon-set:before {
  content: "\e90f";
}

.icon-stack:before {
  content: "\e910";
}

.icon-star:before {
  content: "\e911";
}

.icon-study-1:before {
  content: "\e912";
}

.icon-wallet:before {
  content: "\e913";
}

*, *::before, *::after {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

ul, ol {
  list-style: none;
}

a, button {
  transition: all 0.2s ease;
}

a {
  text-decoration: none;
  color: inherit;
}

button {
  cursor: pointer;
}

img {
  vertical-align: top;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.container {
  width: min(90%, 1200px);
  margin: 0 auto;
}

body {
  color: #4F4F4F;
  font-family: Montserrat, sans-serif;
  font-size: 1rem;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  transition: all 0.2s ease;
}

.page-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.page-wrapper main {
  flex-grow: 1;
}

.main-content {
  background-image: url("../images/light/bg.jpg");
  background-repeat: no-repeat;
  height: 100dvh;
  background-size: cover;
  width: 100dvw;
}

.mobile-menu {
  transition: all 0.2s ease;
  padding-bottom: 30px;
  background: #FFF;
  box-shadow: 0px 0px 20px 0px rgba(0, 0, 0, 0.15);
  z-index: 22;
  width: 245px;
  position: fixed;
  overflow-x: hidden;
  height: 100vh;
}
.mobile-menu .logo {
  padding-inline: 15px;
  position: sticky;
  top: 0;
  background-color: inherit;
  padding-block: 20px;
  margin-bottom: 10px;
  display: flex;
  gap: 30px;
}
.mobile-menu .logo .img-logo-sm {
  display: none;
  width: auto;
  height: auto;
}
.mobile-menu .logo .img-logo-big {
  display: block;
  width: auto;
  height: auto;
}
.mobile-menu .logo .close-btn {
  background: none;
  border: none;
}
.mobile-menu .navigation {
  display: flex;
  flex-direction: column;
  gap: 30px;
}
.mobile-menu .navigation ul::before {
  display: block;
  padding-inline: 15px;
  margin-bottom: 15px;
}
.mobile-menu .navigation ul li a {
  height: 100%;
  width: 100%;
  padding: 10px 15px;
  display: flex;
  gap: 20px;
  align-items: center;
}
.mobile-menu .navigation ul li:hover {
  background: var(--colors-purple-light, #9E8CFC);
  box-shadow: 0 0 20px 0 rgba(158, 140, 252, 0.7);
  color: white;
}
.mobile-menu .navigation ul li:hover a span::after {
  background: #F2C94C;
  color: var(--text-gray-dark, #0c0c0c);
}
.mobile-menu .navigation .apps::before {
  content: "APPS";
}
.mobile-menu .navigation .auth-pages::before {
  content: "AUTH PAGES";
}
.mobile-menu .navigation .user-interface::before {
  content: "USER INTERFACE";
}

.badge {
  position: relative;
}
.badge-green::after {
  background: lightgreen;
  color: var(--text-gray-dark, #4F4F4F);
}
.badge-red::after {
  background: lightcoral;
  color: var(--text-gray-dark, #fff);
}
.badge::after {
  position: absolute;
  right: -16px;
  top: -5px;
  width: 20px;
  height: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  content: "10";
  font-family: Montserrat, sans-serif;
  font-size: 0.75rem;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  border-radius: 50%;
}

.mobile-menu.is-hidden {
  width: 70px;
  overflow: visible;
}
.mobile-menu.is-hidden .logo {
  justify-content: center;
}
.mobile-menu.is-hidden .logo .img-logo-sm {
  display: block;
}
.mobile-menu.is-hidden .logo .img-logo-big {
  display: none;
}
.mobile-menu.is-hidden .logo .close-btn {
  position: absolute;
  left: 90%;
  transform: rotate(180deg);
  align-self: center;
  top: 34%;
}
.mobile-menu.is-hidden .logo .close-btn svg {
  fill: white;
}
.mobile-menu.is-hidden .navigation ul li {
  justify-content: center;
}
.mobile-menu.is-hidden .navigation ul li a {
  justify-content: center;
}
.mobile-menu.is-hidden .navigation ul li span:nth-child(2) {
  display: none;
}
.mobile-menu.is-hidden .apps::before {
  content: "" !important;
  height: 4px;
  background: url("../images/line.svg") no-repeat center/contain;
  margin-bottom: 7px;
}
.mobile-menu.is-hidden .auth-pages::before {
  content: "" !important;
  height: 4px;
  background: url("../images/line.svg") no-repeat center/contain;
  margin-bottom: 7px;
}
.mobile-menu.is-hidden .user-interface::before {
  content: "" !important;
  height: 4px;
  background: url("../images/line.svg") no-repeat center/contain;
  margin-bottom: 7px;
}

header {
  display: none;
}

/*# sourceMappingURL=index.css.map */
