@use "base";


.main-content {
  background-image: url("../images/light/bg.jpg");
  background-repeat: no-repeat;
  height: 100dvh;
  background-size: cover;
  width: 100dvw;
}

.mobile-menu {
  transition: all .2s ease;
  padding-bottom: 30px;
  background: #FFF;
  box-shadow: 0px 0px 20px 0px rgba(0, 0, 0, 0.15);
  z-index: 22;
  width: 245px;
  position: fixed;
  //overflow-y: auto;
  overflow-x: hidden;
  height: 100vh;

  .logo {
    padding-inline: 15px;

    .img-logo-sm {
      display: none;
      width: auto;
      height: auto;
    }

    .img-logo-big {
      display: block;
      width: auto;
      height: auto;
    }

    position: sticky;
    top: 0;
    background-color: inherit;
    padding-block: 20px;
    margin-bottom: 10px;
    display: flex;
    gap: 30px;

    .close-btn {
      background: none;
      border: none;
    }
  }

  .navigation {
    display: flex;
    flex-direction: column;
    gap: 30px;

    ul {
      &::before {
        display: block;
        padding-inline: 15px;
        margin-bottom: 15px;
      }

      li {
        a {
          height: 100%;
          width: 100%;
          padding: 10px 15px;
          display: flex;
          gap: 20px;
          align-items: center;
        }

        &:hover {
          background: var(--colors-purple-light, #9E8CFC);
          box-shadow: 0 0 20px 0 rgba(158, 140, 252, 0.70);
          color: white;
        }
      }
    }

    .apps {
      &::before {
        content: 'APPS';
      }
    }

    .auth-pages {
      &::before {
        content: 'AUTH PAGES';
      }
    }

    .user-interface {
      &::before {
        content: 'USER INTERFACE';
      }
    }
  }
}

.badge {
  position: relative;


  &-green {
    &::after {
      background: lightgreen;
      color: var(--text-gray-dark, #4F4F4F);
    }
  }

  &-red {
    &::after {
      background: lightcoral;
      color: var(--text-gray-dark, #fff);
    }
  }

  &::after {
    position: absolute;
    right: -16px;
    top: -5px;
    width: 20px;
    height: 20px;
    display: flex;
    justify-content: center;
    align-items: center;

    content: '10';
    font-family: Montserrat, sans-serif;
    font-size: 0.75rem;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    border-radius: 50%;
  }

}

.mobile-menu.is-hidden {
  width: 86px;

  overflow: visible;

  .logo {
    justify-content: center;

    .img-logo-sm {
      display: block;
    }

    .img-logo-big {
      display: none;
    }

    .close-btn {
      position: absolute;
      left: 90%;

      svg {
        fill: white;
      }

      transform: rotate(180deg);
      align-self: center;
      top: 34%;

    }
  }

  .navigation {
    ul {
      li {
        a {
          justify-content: center;
        }

        span:nth-child(2) {
          display: none;
        }

        justify-content: center;
      }
    }
  }

  .apps {
    &::before {
      content: '' !important;
      height: 4px;
      background: url("../images/line.svg") no-repeat center/contain;
      margin-bottom: 7px;
    }
  }

  .auth-pages {
    &::before {
      content: '' !important;
      height: 4px;
      background: url("../images/line.svg") no-repeat center/contain;
      margin-bottom: 7px;
    }
  }

  .user-interface {
    &::before {
      content: '' !important;
      height: 4px;
      background: url("../images/line.svg") no-repeat center/contain;
      margin-bottom: 7px;
    }
  }
}

header {
  display: none;
}
